.ss-inicio-titles{
    color: white;
}

.ss-inicio-cattext{
    color: white;
    text-align: center;
}

@media (min-width: 460px) {
        .fotos{
            width: 200px;
            height: 200px;
            display: block;
            margin: auto;
    }
}