.ss-inicio-titles{
    color: white;
}

.azul{
    text-shadow: -1px 1px 0 #000, 
                  1px 1px 0 #000, 
                  1px -1px 0 #000,
                  -1px -1px 0 #000; 
}
.ss-inicio-cattext{
    color: white;
    text-align: center;
}

@media (min-width: 460px) {
        .fotos{
            width: 200px;
            height: 200px;
            display: block;
            margin: auto;
    }
}